
body {
    font-family: 'Roboto Slab', serif;
    width: 100%;
    box-sizing: border-box;
}

main {
    background: #0c0b0b;
}

header {
    background: #0c0b0b ;
    padding: 15px 0;
    box-shadow: inset 0 0 20px 20px #070606;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;   
}

.logo:hover {
    transform: scale(1.04);
    transition: all 0.15s;
}

nav {
    position: absolute;
    top: 110px;
    right: 50px;
}

nav li {
    display: inline-block;
    margin: 0 0 0 10px;
}

nav a {
    text-transform: uppercase;
    color: #eeeeee;
    font-weight: bold;
    text-decoration: none;
    font-size: 25px;
}

nav a:hover {
    color: #a87000;
    text-decoration: underline;
    transition: all 0.2s;
}

footer {
    text-align: center;
    background: #0c0b0b;
    margin-top: 1px;
    padding: 20px 0;
    box-shadow: inset 0 0 20px 20px #070606;
}

.foto-footer{
    width: 6%;
}

.copyright {
    color: #ffffff;
    font-size: 13px;
    margin-top: 20px;
}

/*CSS home page | página inicial*/

.barbearia-alura{
    padding-bottom: 20px;
    width: 100%;
}

.titulo-principal {
    text-align: center;
    font-size: 2.2em;
    margin-top: 1px;
    padding: 70px 0;  
    color: #eeeeee;
}

.bloco-barbearia-alura {
    width: 100%;
    display: flex;
   
}

.foto-barbearia {
   width: 50%;
   margin-left: 20px;
   border: #a87000 solid 2px;
   border-radius: 7px;  
   box-shadow: 7px 7px 9px 2px #000000;
}

.paragrafos {
    padding: 0 20px;
    width: 50%;
    text-align: center;  
    font-size: 20px;
    color: #eeeeee;      
}

.paragrafos p {
    padding: 10px 0;
}

.paragrafos b {
    font-weight: bold;
}

.paragrafos em b {
    font-style: italic;
}

.mapa {
    padding-bottom: 20px;
    width: 100%;
}

.titulo-principal-mapa {
    text-align: center;
    font-size: 2.2em;
    padding: 50px 0;
    color: #eeeeee;
}

.mapa p{
    text-align: center;
    color:#eeeeee;
    padding-bottom: 20px;
}
 
.mapa-conteudo {
    width: 80%;
    margin: 0 auto;
}

.beneficios {
    width: 100%;
}

.titulo-beneficios{
    text-align: center;
    font-size: 2.2em;
    padding: 60px 0 50px 0;  
    color: #eeeeee;
}

.beneficios-texto {
    text-align: center;
    color: #eeeeee;
    padding-bottom: 20px;
}

.conteudo-beneficios {
    width: 100%;
}

.lista-beneficios {
    padding-left: 18%;
    color: #eeeeee; 
}

.itens {
    line-height: 2em;      	
}

.itens:before{
   content: "\2605"
}

.itens:first-child {
    font-weight: bold;
}

.conteudo-video {
    width: 100%;
    text-align: center;
    padding: 40px 0;  
}

.descrição-video{
    padding-bottom: 30px;
    color: #ffffff;
}

.video {
    width: 560px;
    margin: 0 auto; 
    border-radius: 10px;
    overflow: hidden;   
}

/*CSS products page | página dos produtos*/

.produtos{
    width: 940px;
    margin: 1px auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 10px;
    box-sizing: border-box;
    border:  3px solid #dba02a;
    border-radius: 10px;  
    box-shadow: 7px 7px 8px 1px #000000;
    background-color: #ffffff;
}

.produtos li:hover {
    border-color: #5f4002;
    box-shadow: 9px 9px 15px 3px #000000; 
}

.produtos h2 {
    font-size: 23px;
    font-weight: bold;
}

.produtos li:active {
    border-color: #088C19;
}

.produto-descrição {
    font-size: 16px;
    font-weight: bold;
}

.produto-preço {
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0;
}

/* CSS contact page | página de contato*/

form {
    margin: 1px 0 0 40px;
    padding: 60px 0;   
}

.dados {
    display: block;   
}

.dados label, form legend {
    display: block;
    font-size: 22px;
    margin-bottom: 12px;
    color: #eeeeee;  
     
}

.input-padrao {
    display: block;
    margin-bottom: 30px;
    padding: 10px 25px;
    width: 50%;
    background-color: #eeeeee;
}

.opçoes{
    margin: 10px 0;
}

.opçoes label {
    display: block;
    font-size: 18px;
    margin: 0 0 6px 20px;
    color: #eeeeee;
}

.turnos {
    padding: 3px 2px;
    margin-left: 20px;
}

.novidades{
    font-size: 18px;
    color: #eeeeee
}
 
.checkbox {
    margin: 20px 0;
    width: 2%;   
}

.enviar {
    margin: 20px 0 0 1%;
    display: block;
    width: 15%;
    padding: 15px 0;
    background: #d69614;
    color: #eeeeee;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

.enviar:hover {
    background: #795101;
    transition: all 0.3s;
    cursor: pointer;
    transform: scale(1.01);
}

@media screen and (max-width: 480px) {

    .caixa, .barbearia-alura, .bloco-barbearia-alura, .mapa, .mapa-conteudo, .beneficios, .conteudo-beneficios, .conteudo-video  .video {
        width: auto;   
    } 

    .caixa, h1 {
        text-align: center;
    }

    nav {
        position: static;
    }

    .bloco-barbearia-alura {
        display: inline-block;
        text-align: center;
    }
    .foto-barbearia {
        width: 85%;
        margin: 0;
    }

    .paragrafos{
        width: 80%;
        padding-top: 2%;
        margin: 0 auto;
    }

    .mapa, .beneficios-texto, .video {
        margin: 0 5%;
    }

    .produtos {
        width: auto;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    .produtos li {
        width: 80%;
        margin: 20px auto;
    }
   
    .imagens {
        width: 85%;
    }

    .checkbox {
        width: 10%;
    }

    .enviar {    
        width: 40%;
    }
}
